:80 {
    log {
        output stdout
    }

    root * /usr/share/caddy
    
    handle /api/* {
        reverse_proxy backend:5000
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}
